// Place all the styles related to the knowledge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";
@import "mixins";
header {
	.logo_box {
		color: $black;
		padding: 30px 20px;
		font-size: 2em;
		font-weight: bold;
		a {
			color: $black;
			h2 {
				line-height: 1.4em;
			}
		}
	}
	nav {
		ul {
			li {
				float: left;
				width: 16.666%;
				background: $blue;
				border-bottom: 5px solid $green;
				box-sizing: border-box;
				line-height: 45px;
				&:not(:last-child) {
					border-right: 1px solid $white;
				}
				&:hover, &.active {
					background: $cadetblue;
				}
				@include max-screen(map-get($breakpoints-down, pc-2)) {
					width: 33.333%;
					&:not(:nth-child(3)),&:not(:nth-child(6)) {
						border-right: 1px solid $white;
					}
				}
				a {
					color: $white;
					font-size: 1.1em;
					letter-spacing: 0.05em;
					display: block;
					padding-left: 20px;
					@include max-screen(map-get($breakpoints-down, sp-2)) {
						font-size: 1.0em;
					}
					@include max-screen(map-get($breakpoints-down, sp-3)) {
						font-size: 0.8em;
					}
					@include max-screen(map-get($breakpoints-down, sp-4)) {
						padding-left: 10px;
					}
					@include max-screen(map-get($breakpoints-down, sp-5)) {
						font-size: 0.7em;
						padding-left: 5px;
					}
				}
			}
			&:after {
				clear: left;
			}
		}
	}
}