// Place all the styles related to the knowledge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";
@import "mixins";
html {
	background: image-url('background.jpg');
	font-family: Raleway, Verdana, Arial, sans-serif;
	body {
		width: 90%;
		margin: 50px auto;
		background: $white;
	}
}
.main {
	width: 100%;
	display: block;
	background: $white;
	overflow: hidden;
	& > * {
		float: left;
		@include max-screen(map-get($breakpoints-down, pc-2)) {
			float: none;
		}
	}
	& > article {
		width: calc(100% - 330px);
		@include max-screen(map-get($breakpoints-down, pc-2)) {
			width: 100%;
		}
		section {
			padding: 20px;
			h2 {
				color: $black;
				border-bottom: 1px solid $black;
				display: inline;
				padding-bottom: 3px;
				font-size: 1.2em;
				line-height: 1.7em;
				&:not(:first-child):before {
					content: '\003E';
					color: $black;
					margin: 0 10px;
				}
			}
			h1 {
				color: $darkslateblue;
				font-size: 1.3em;
				margin: 35px 0 10px;
				font-weight: bold;
				line-height: 1.5em;
			}
			.date {
				text-align: right;
				margin-bottom: 20px;

				span {
					color: $black;
					margin-bottom: 20px;
					font-size: 1.1em;
					border-bottom: 1px solid $black;
				}
			}
			.sentence_section {
				margin: 10px 0;
				line-height: 1.5em;
				overflow-x: auto;
				pre {
					white-space: pre-wrap;
					code {
						width: 1000px;
						}
					img {
						max-width: 100%;
					}
				}
			}
			&.recent_posts {
				ul {
					margin-top: 25px;
					padding-left: 40px;
					li {
						font-size: 1.1em;
						text-indent: -1.3em;
						&:not(:last-child) {
							margin-bottom: 20px;
						}
						&:before {
							content: '\0025B6';
							color: $black;
							margin-right: 5px;
						}
						&:hover {
							opacity: 0.7;
						}
						a {
							color: $black;
							line-height: 1.5em;
						}
					}
				}
			}
			ul.articles {
				margin-top: 20px;
				padding-left: 40px;
				li {
					font-size: 1.1em;
					text-indent: -1.3em;
					&:not(:last-child) {
						margin-bottom: 20px;
					}
					&:before {
						content: '\0025B6';
						color: $black;
						margin-right: 5px;
					}
					&:hover {
						opacity: 0.7;
					}
					a {
						color: $black;
					}
				}
			}
			.article_count {
				color: #40514E;
				text-align: center;
				margin-top: 20px;
			}
			ul.middle_categories, ul.small_categories {
				margin-top: 20px;
				li {
					display: inline-block;
					width: 135px;
					height: 40px;
					background: $black;
					margin: 5px 0;
					&:hover {
						opacity: 0.7;
					}
					a {
						display: block;
						text-align: center;
						line-height: 40px;
						font-size: 0.8em;
						color: $white;
					}
				}
			}
			.relate_title {
				color: $black;
				border-bottom: 1px solid $black;
				display: inline;
				font-size: 1.2em;
				padding-bottom: 3px;
			}
		}
	}
	& > aside {
		width: 330px;
		section {
			padding: 20px;
			border-left: 1px solid $gray;
			margin: 20px 0;
			form {
				input[type=text] {
					line-height: 25px;
					border: 1px solid $gray;
					width: 60%;
					font-size: 1.0em;
					padding: 0 5px;
					float: left;
				}
				input[type=submit] {
					line-height: 25px;
					width: 35%;
					font-size: 1.0em;
					padding: 0 5px;
					background: $blue;
					border: 1px solid $cadetblue;
					color: $white;
					&:after {
						clear: left;
					}
					&:hover {
						opacity: 0.7;
						cursor: pointer;
					}
				}
			}
			& > ul {
				margin-top: 30px;
				li {
					margin-bottom: 15px;
					&:not(.list):before {
						content: '\0025B6';
						color: $black;
						margin-right: 5px;
					}
					a {
						color: $black;
						&:hover {
							opacity: 0.7;
						}
					}
					& > ul {
						padding-left: 20px;
					}
				}
			}
		}
	}
}
footer {
	padding: 20px 0;
}