// Place all the styles related to the springboot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
pre.index {
	ol {
		&.outer {
			border: 3px solid #86c2c5;
		}
		list-style-type: decimal;
		padding-left: 40px;
		color: #0000ee;
		background: #bfe5ec;
		line-height: 10px;
	}
}

pre {
	a {
		word-wrap: break-word;
	}
}

h3.outer-title {
	color: #0000ee;
	background: #bfe5ec;
	border: 3px solid #86c2c5;
	margin-bottom: 20px;
	padding: 10px 0 10px 10px;
}
