<footer>
	<% if Rails.env == 'production' %>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- adsense -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-7732606557161974"
			 data-ad-slot="1848440441"
			 data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	<% end %>
</footer>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>-->
<!--<script src="http://vjs.zencdn.net/5.4.6/video.min.js"></script>-->
<!--&lt;!&ndash; jQuery local fallback &ndash;&gt;-->
<!--&lt;!&ndash; JS Locals &ndash;&gt;-->
<!--<script src="js/min/bootstrap.min.js"></script>-->
<!--<script src="js/min/modernizr-2.8.3-respond-1.4.2.min.js"></script>-->
<!--<script src="js/min/retina.min.js"></script>-->
<!--<script src="js/min/jquery.waypoints.min.js"></script>-->
<!--<script src="js/min/flickity.pkgd.min.js"></script>-->
<!--<script src="js/min/scripts-min.js"></script>-->
</body>

</html>
