<div class="mh-copyright-wrap">
  <div class="mh-container mh-container-inner clearfix">
    <p class="mh-copyright">Copyright &copy; 2017 | WordPress Theme by <a href="http://www.mhthemes.com/" rel="nofollow">MH Themes</a></p>
  </div>
</div>
</div>
</body>
</html>
