<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Engineer Knowledge Note</title>
	<meta name="description" content="システムエンジニアの管理人が調べたことや詰まったことを備忘として掲載しています。便利ツールも開発しているので、ぜひお試しください。" />
	<script>hljs.initHighlightingOnLoad();</script>

	<!-- favicon 後回し -->
	<%= favicon_link_tag('template/favicon/apple-touch-icon-57x57.png',
											 {:rel => 'apple-touch-icon',
												:sizes => '57x57',
												:type => 'image/png'}) %>
	<%= favicon_link_tag('template/favicon/favicon-32x32.png',
											 {:rel => 'icon',
												:sizes => '32x32',
												:type => 'image/png'}) %>
	<!-- end favicon links -->

	<script>
//		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
//
//		ga('create', 'UA-49065017-5', 'auto');
//		ga('send', 'pageview');

	</script>
</head>
<body>
<header>
	<div class="logo_box">
		<h2>Engineer Knowledge Note</h2>
	</div>
	<nav>
		<ul>
			<li><a href="/programming">Programming</a></li>
			<li><a href="/infrastructure">Infrastructure</a></li>
			<li><a href="/markup">Markup</a></li>
			<li><a href="/javascript">Javascript</a></li>
		</ul>
	</nav>
</header>