<aside>
	<section>
		<%#= form_tag('/search', method: 'get') do %>
			<%#= text_field :search, :name %>
			<%#= submit_tag('Search', {name: nil, class: 'search_input'}) %>
		<%# end %>

		<ul>
			<% @allMiddleCategories = MiddleCategory.all.order("category_id asc, id asc") %>
			<% @allMiddleCategories.each do |middle| %>
				<li><a href="/knowledge?middle_category=<%= middle.name %>"><%= middle.name %></a></li>
				<% @smallCategoryLists = SmallCategory.where(:middle_category => middle) %>
				<% if @smallCategoryLists %>
				<li class="list">
					<ul>
						<% @smallCategoryLists.each do |small| %>
							<li><a href="/knowledge?small_category=<%= small.name %>"><%= small.name %></a></li>
						<% end %>
					</ul>
				</li>
				<% end %>
			<% end %>
		</ul>

		<!--最新記事とランキングもそのうち載せる-->

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- adsense2 -->
		<ins class="adsbygoogle"
			 style="display:inline-block;width:300px;height:600px"
			 data-ad-client="ca-pub-7732606557161974"
			 data-ad-slot="9471427244"></ins>
		<script>
//			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</section>
</aside>