<aside>
	<section>
		<%= form_tag('/search', method: 'get') do %>
			<%= text_field :search, :name %>
			<%= submit_tag('Search', {name: nil, class: 'search_input'}) %>
		<% end %>

		<ul>
			<li><a href="/programming?type=1">Java</a></li>
			<li class="list">
				<ul>
					<li><a href="/programming?type=2">Spring Boot</a></li>
					<li><a href="/programming?type=2">JavaEE</a></li>
				</ul>
			</li>
			<li><a href="/programming?type=2">C</a></li>
			<li><a href="/programming?type=3">Python</a></li>
			<li><a href="/programming?type=4">Linux</a></li>
		</ul>

		<!--最新記事とランキングもそのうち載せる-->

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- adsense2 -->
		<ins class="adsbygoogle"
			 style="display:inline-block;width:300px;height:600px"
			 data-ad-client="ca-pub-7732606557161974"
			 data-ad-slot="9471427244"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</section>
</aside>