<%= render 'shared/header' %>
<div class="main">
	<article>
		<section>
			<h2>Programming</h2><span></span><h2>Java</h2>
			<h1>SpringBootでDB接続</h1>
		</section>
		<!--最新ニュース(About Latest News)とか-->
		<!--特集とか-->
		<!--便利ツールとか-->
		<!--閲覧ランキング-->
	</article>
	<%= render 'shared/sidebar' %>
</div>
<%= render 'shared/footer' %>