<div class="main">
	<article>
		<section>
			<div id="map" class="map"></div>
			<script type="text/javascript">
				function initMap() {
					var opts = {
						zoom: 15,
						center: new google.maps.LatLng(35.658034,139.701636)
					};
					var map = new google.maps.Map(document.getElementById("map"), opts);
				}
			</script>
			<script async defer
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzE_yDb4ocCebsZydiMd3EmkwZcQQOviA&callback=initMap">
			</script>
		</section>
		<% if Rails.env == 'production' %>
			<section>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- adsense -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-7732606557161974"
					 data-ad-slot="1848440441"
					 data-ad-format="auto"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</section>
		<% end %>
	</article>
</div>
<style>
	html {
		background: none;
	}
	.map {
		width: 80%;
		height: 500px;
	}
</style>